.layout__main {
	margin-left: auto;
	margin-right: auto;
	padding: 30px 100px 0;
}

.layout__footer {
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	padding: 30px 100px;
}
